# Python
venv/
__pycache__/
*.pyc

# Airflow
airflow/logs/

# dbt
ecom_pipeline/target/
ecom_pipeline/dbt_packages/
ecom_pipeline/logs/

# Credentials
keys/
*.json

# IDE
.vscode/
.idea/

# Environment
.env